/* Entfernen: Panel mit Info über vergessene Zugangsdaten */
.allButFooter .row.transparency .col-md-12 .panel.panel-warning {
    display: none !important;
}

/* Farbe: Panels */
.allButFooter #forms .panel.panel-default,
.allButFooter #successForm > .panel.panel-success,
.allButFooter #autoLoginForm > .panel.panel-success,
.allButFooter #saveForm > .panel.panel-info,
.allButFooter #errorForm.panel.panel-danger,
.allButFooter #finalerrorForm.panel.panel-warning,
.allButFooter #finalblockedForm.panel.panel-warning {
    box-shadow: var(--default-elevation) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
}

/* Farbe: Panel-Köpfe */
.allButFooter #forms .panel.panel-default > .panel-heading,
.allButFooter #successForm .panel.panel-success > .panel-heading,
.allButFooter #autoLoginForm .panel.panel-success > .panel-heading,
.allButFooter #saveForm > .panel.panel-info > .panel-heading,
.allButFooter #errorForm.panel.panel-danger > .panel-heading,
.allButFooter #finalerrorForm.panel.panel-warning > .panel-heading,
.allButFooter #finalblockedForm.panel.panel-warning > .panel-heading {
    box-shadow: var(--no-elevation) !important;
    border-bottom: 1px solid var(--accent-normal-aka-border) !important;
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
}
