/* Elevation, Farbe: Alle Fenster */
.allButFooter #successForm .panel.panel-success,
.allButFooter #newlogin .panel.panel-default,
.allButFooter #al .panel.panel-default {
    box-shadow: var(--default-elevation) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    color: var(--accent-high-aka-text) !important;
}

/* Farbe: Power-Button von oberem Fenster */
.allButFooter #successForm .fa.fa-power-off.fa-5x {
    color: var(--accent-high-aka-text) !important;
}

/* Formatting: Untere Border von allen Fenstern */
.allButFooter #successForm .panel.panel-success > .panel-heading,
.allButFooter #newlogin .panel.panel-default > .panel-heading,
.allButFooter #al .panel.panel-default > .panel-heading {
    border-bottom: 1px solid var(--accent-normal-aka-border) !important;
}

/* Formatting: Button von unterem Fenster */
.allButFooter #newlogin .panel.panel-default > .panel-body > .btn.btn-primary {
    border: 1px solid var(--accent-normal-aka-border) !important;
}
