/* Farbe, Elevation: Beide Fenster */
.allButFooter #content div.jumbotron,
.allButFooter #content div.jumbotron ~ div {
    margin-top: 11px;
    box-shadow: var(--default-elevation) !important;
    background-color: var(--secondary-background) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    color: var(--accent-high-aka-text) !important;
}
