/* Elevation: Panel */
body > div.container > div.row.clearfix > div.col-md-12.column > div.panel.panel-danger {
    border: 1px solid var(--border-color) !important;
    box-shadow: var(--default-elevation) !important;
}

/* Farbe, Formatting: Einzelne Teile des Panels */
body > div.container > div.row.clearfix > div.col-md-12.column > div.panel.panel-danger > div.panel-heading,
body > div.container > div.row.clearfix > div.col-md-12.column > div.panel.panel-danger > div.panel-body,
body > div.container > div.row.clearfix > div.col-md-12.column > div.panel.panel-danger > div.panel-footer {
    background-color: var(--light-gray) !important;
    color: var(--font-color) !important;
    border: none !important;
}

/* Formatting: Header des Panels */
body > div.container > div.row.clearfix > div.col-md-12.column > div.panel.panel-danger > div.panel-heading {
    border-bottom: 1px solid var(--border-color) !important;
}

/* Farbe, Formatting: Button im unteren Teil des Panels */
body > div.container > div.row.clearfix > div.col-md-12.column > div.panel.panel-danger > div.panel-footer > a.btn.btn-danger {
    color: var(--font-color) !important;
    background-color: var(--light-gray) !important;
    border: 1px solid var(--border-color) !important;
}
