/* Color Palette, direkt von https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129 übernommen */
:root {
    /* Neutrals Palette */
    --neutral-1000: #24292E;
    --neutral-950-ish: #2F353B;
    --neutral-900: #383F45;
    --neutral-800: #454C52;
    --neutral-700: #596066;
    --neutral-600: #676E76;
    --neutral-500: #7F8790;
    --neutral-400: #9EA5AD;
    --neutral-300: #CED2D6;
    --neutral-200: #E5E7EA;
    --neutral-100: #F6F7F9;

    /* Secondary Color Palette */
    --usage-primary: #58a6ff;
    --usage-secondary: #BDBDBD;
    --usage-confirm: #05B016;
    --usage-warning: #FFA000;
    --usage-remove: #C62828;
    --usage-help: #673AB7;
}

/* Definition der Variablen */
:root {
    --default-elevation: rgba(0, 0, 0, 0.5) 3px 5px 2px;
    --no-elevation: rgba(0, 0, 0, 0) 0px 0px 0px;
    --primary-background: var(--neutral-1000);
    --secondary-background: var(--neutral-950-ish);
    --accent-lowkey-aka-hover: var(--neutral-900);
    --accent-normal-aka-border: var(--neutral-400);
    --accent-high-aka-text: var(--neutral-300);
}

/* Definition der Variablen für den Kalender */
:root {
    --calender-selected-day: var(--neutral-700);
    --calender-event: #407B3E;
    --calender-event-hover: #51934F;
    --calender-selected-tab: var(--neutral-800);
    --calender-today-hover: var(--neutral-600);
}
