/* Farbe: Überall */
.allButFooter {
    background-color: var(--light-gray) !important;
}

/* Entfernen: Zeile mit Schulportal-Logo */
.allButFooter .navbar-first {
    display: none !important;
}

/* Farbe: Allgemeine Navigationsbar */
.allButFooter .navbar-custom {
    background-color: var(--dark-gray) !important;
    border-left: none !important;
}

/* Entfernen: HvK-Logo */
.allButFooter .headlogo {
    display: none !important;
}

/* Farbe: Texteingabefelder */
.allButFooter input, .allButFooter textarea {
    color: var(--font-color) !important;
    background-color: var(--light-gray) !important;
}

/* Farbe: Links */
.allButFooter a {
    color: var(--font-link-color) !important;
}

/* TODO (macht button links weiß= -> testen if needed und welcher button */
.allButFooter a.btn {
    color: var(--font-color) !important;
}

/* Farbe: Dropdown-Menüs */
.allButFooter ul.dropdown-menu {
    background-color: var(--dark-gray) !important;
    color: var(--font-color) !important;
}

/* Farbe: Dropdown-Menü-Hover */
.allButFooter ul.dropdown-menu li a:hover {
    background-color: var(--light-gray) !important;
}

/* Farbe, Formatting: Zahlen-Badges */
.allButFooter .badge {
    color: var(--font-color) !important;
    border: 1px solid var(--border-color) !important;
    background-color: transparent !important;
}

/* Entfernen: Blur-Effekt Toolbar Item */
.allButFooter a.dropdown-toggle {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) !important;
}

/* Farbe: Tabellen */
.allButFooter .table-striped > tbody > tr {
    background-color: var(--light-gray) !important;
}

/* Farbe: Tabellen Hover (nicht dunkel) */
.allButFooter .table-hover > tbody > tr:hover {
    background-color: var(--light-gray) !important;
}

/* Farbe: Tabellen Hover (dunkel) */
.allButFooter .table-striped > tbody > tr:not(.printable):hover {
    background-color: var(--dark-gray) !important;
}

/* Festlegen: Auswahl-Tabs - Farbe und Border TODO Comment, perhaps refactor */
.allButFooter ul.nav.nav-tabs li.active a {
    background-color: var(--light-gray) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 3px !important;
}

/* Festlegen: Hover über Auswahl-Tabs TODO Comment, perhaps refactor */
.allButFooter ul.nav.nav-tabs li a:hover {
    background-color: var(--dark-gray) !important;
    border-radius: 3px !important;
}

/* Entfernen: überflüssige Borders: Nicht aktive Tabs & Navigation Bar TODO Comment, perhaps refactor */
.allButFooter ul.nav.nav-tabs li:not(.active), .allButFooter .nav.nav-tabs {
    border: none !important;
}

/* TODO Comment, perhaps refactor */
.allButFooter #content > div:nth-child(3)::after {
    display: none !important;
}

/* Farbe: Knöpfe */
.allButFooter .btn-primary,
.allButFooter .btn-default,
.allButFooter .btn-info,
.allButFooter .btn-warning,
.allButFooter .btn-danger,
.allButFooter .btn-success {
    background-color: var(--light-gray) !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: var(--no-elevation) !important;
    color: var(--font-color) !important;
}

/* Farbe: Normaler Text */
.allButFooter h1,
.allButFooter h2,
.allButFooter h3,
.allButFooter h4,
.allButFooter h5,
.allButFooter h6,
.allButFooter .table,
.allButFooter small {
    color: var(--font-color) !important;
}


/* Farbe, Formatting: Lade-Banner */
.allButFooter .container #content #load div {
    margin-top: 11px;
    background-color: var(--light-gray) !important;
    color: var(--font-color) !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: var(--default-elevation) !important;
}

/* Entfernen: Footer */
.allButFooter ~ .hidden-print.footer {
    background-color: var(--light-gray) !important;
    font-size: 0 ! important;
    color: var(--light-gray) !important;
    border-top: 5px solid var(--light-gray) !important;
}

/* Entfernen: Schulportal-Logo (Footer) */
body > div.hidden-print.footer > div.row.visible-lg.visible-md > div > table > tbody > tr > td:nth-child(1) > a > img {
    object-position: -999999px 999999px !important;
}

/* Farbe, Formatting: Cookie-Banner */
.allButFooter ~ .hidden-print.footer ~ .alert.alert-success.alert-dismissible.fade.in {
    background-color: var(--light-gray) !important;
    color: var(--font-color) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 4px !important;
    top: calc(100vh - 84px) !important;
    bottom: 0 !important;
    position: fixed !important;
}

/* Farbe: Link in Cookie-Banner  */
.allButFooter ~ .hidden-print.footer ~ .alert.alert-success.alert-dismissible.fade.in a {
    color: var(--font-link-color) !important;
}

/* Farbe, Formatting: Button in Cookie-Banner  */
.allButFooter ~ .hidden-print.footer ~ .alert.alert-success.alert-dismissible.fade.in button {
    background-color: var(--light-gray) !important;
    color: var(--font-color) !important;
    border: 1px solid var(--border-color) !important;
    padding: 3px 9px !important;
}

/* Farbe: Hover über Button in Cookie-Banner  */
.allButFooter ~ .hidden-print.footer ~ .alert.alert-success.alert-dismissible.fade.in button:hover {
    background-color: var(--dark-gray) !important;
}
