/* Farbe: Überall */
.allButFooter {
    background-color: var(--primary-background) !important;
}

/* Entfernen: Zeile mit Schulportal-Logo */
.allButFooter .navbar-first {
    display: none !important;
}

/* Farbe: Allgemeine Navigationsbar */
.allButFooter .navbar-custom {
    background-color: var(--secondary-background) !important;
    border-left: none !important;
    border-color: var(--accent-high-aka-text) !important;
}

/* Entfernen: HvK-Logo */
.allButFooter .headlogo {
    display: none !important;
}

/* Farbe: Texteingabefelder */
.allButFooter input, .allButFooter textarea {
    color: var(--accent-high-aka-text) !important;
    background-color: var(--secondary-background) !important;
}

/* Farbe: Interne Links und externe Links außerhalb des Contents */
.allButFooter a {
    color: var(--accent-high-aka-text) !important;
}

/* Farbe: Externe Links innerhalb des Contents */
.allButFooter #content [target="_blank"] {
    color: var(--usage-primary) !important;
}

/* TODO (macht button links weiß= -> testen if needed und welcher button */
.allButFooter a.btn {
    color: var(--accent-high-aka-text) !important;
}

/* Farbe: Dropdown-Menüs */
.allButFooter ul.dropdown-menu {
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
}

/* Farbe: Dropdown-Menü-Hover */
.allButFooter ul.dropdown-menu li a:hover {
    background-color: var(--accent-lowkey-aka-hover) !important;
}

/* Farbe, Formatting: Zahlen-Badges */
.allButFooter .badge {
    color: var(--accent-high-aka-text) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    background-color: transparent !important;
    line-height: 10px !important;
}

/* Entfernen: Blur-Effekt Toolbar Item */
.allButFooter a.dropdown-toggle {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) !important;
}

/* Farbe, Formatting: Tabellen */
.allButFooter .table {
    box-shadow: var(--default-elevation) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    border-radius: 3px !important;
    border-collapse: separate !important;
    background-color: var(--secondary-background) !important;
    padding: 0 !important;
}

/* Entfernen: Vorgegebene Border von Tabellen */
.allButFooter .fixed-table-container {
    border: none !important;
}

/* Farbe, Formatting: Tabellenelemente */
.allButFooter .table tr,
.allButFooter .table th,
.allButFooter .table tr > td,
.allButFooter .table th > td {
    background-color: transparent !important;
    border-color: var(--accent-normal-aka-border) !important;
}

/* Farbe: Hover über Tabellen (Die keinen Hover-Effekt haben sollen) */
.allButFooter .table-hover > tbody > tr:hover {
    background-color: transparent !important;
}

/* Farbe: Hover über Tabellen (Die einen Hover-Effekt haben sollen) */
.allButFooter .table-striped > tbody > tr:not(.printable):hover {
    background-color: var(--accent-lowkey-aka-hover) !important;
}

/* Farbe: Knöpfe */
.allButFooter .btn-primary,
.allButFooter .btn-default,
.allButFooter .btn-info,
.allButFooter .btn-warning,
.allButFooter .btn-danger,
.allButFooter .btn-success {
    background-color: var(--secondary-background) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    box-shadow: var(--no-elevation) !important;
    color: var(--accent-high-aka-text) !important;
}

/* Farbe: Hover über Knöpfe */
.allButFooter .btn-primary:hover,
.allButFooter .btn-default:hover,
.allButFooter .btn-info:hover,
.allButFooter .btn-warning:hover,
.allButFooter .btn-danger:hover,
.allButFooter .btn-success:hover {
    background-color: var(--accent-lowkey-aka-hover) !important;
}

/* Farbe: Normaler Text */
.allButFooter h1,
.allButFooter h2,
.allButFooter h3,
.allButFooter h4,
.allButFooter h5,
.allButFooter h6,
.allButFooter .table,
.allButFooter small,
.allButFooter #content {
    color: var(--accent-high-aka-text) !important;
}

/* Farbe: Alle Icons im Dropdown-Menü */
.allButFooter .dropdown-menu i {
    color: var(--accent-high-aka-text) !important;
}

/* Farbe, Formatting: Navigation-Tabs, z.B. in "Mein Unterricht" */
.allButFooter ul.nav.nav-tabs li a {
    background-color: var(--secondary-background) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    border-radius: 3px !important;
    margin-right: 5px !important;
    color: var(--accent-high-aka-text) !important;
}

/* Farbe: Hover über Navigation-Tabs, z.B. in "Mein Unterricht" */
.allButFooter ul.nav.nav-tabs li a:hover {
    background-color: var(--accent-lowkey-aka-hover) !important;
}

/* Entfernen: Border unter Navigation-Tabs, z.B. in "Mein Unterricht" */
.allButFooter .nav.nav-tabs {
    border: none !important;
}

/* Farbe, Formatting: Lade-Banner */
.allButFooter .container #content #load div {
    margin-top: 11px;
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    box-shadow: var(--default-elevation) !important;
}

/* Entfernen: Footer */
.allButFooter ~ .hidden-print.footer {
    background-color: var(--primary-background) !important;
    font-size: 0 ! important;
    color: var(--primary-background) !important;
    border-top: 5px solid var(--primary-background) !important;
}

/* Entfernen: Schulportal-Logo (Footer) */
body > div.hidden-print.footer > div.row.visible-lg.visible-md > div > table > tbody > tr > td:nth-child(1) > a > img {
    object-position: -999999px 999999px !important;
}

/* Farbe, Formatting: Cookie-Banner */
.allButFooter ~ .hidden-print.footer ~ .alert.alert-success.alert-dismissible.fade.in {
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    border-radius: 4px !important;
    top: calc(100vh - 84px) !important;
    bottom: 0 !important;
    position: fixed !important;
}

/* Farbe: Link in Cookie-Banner  */
.allButFooter ~ .hidden-print.footer ~ .alert.alert-success.alert-dismissible.fade.in a {
    color: var(--usage-secondary) !important;
}

/* Farbe, Formatting: Button in Cookie-Banner  */
.allButFooter ~ .hidden-print.footer ~ .alert.alert-success.alert-dismissible.fade.in button {
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    padding: 3px 9px !important;
}

/* Farbe: Hover über Button in Cookie-Banner  */
.allButFooter ~ .hidden-print.footer ~ .alert.alert-success.alert-dismissible.fade.in button:hover {
    background-color: var(--accent-lowkey-aka-hover) !important;
}
