/* Formatting: Dropdown-Menü-Container */
.allButFooter #accordion {
    margin-top: 11px !important;
}

/* Elevation, Farbe: Große Dropdown-Menüs */
.allButFooter #accordion .panel-primary,
.allButFooter #accordion .panel-primary > .panel-heading,
.allButFooter #accordion .panel-primary > .panel-heading a {
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
}

/* Formatting: Einzelnes Dropdown-Panel */
.allButFooter #accordion .panel-primary.panel {
    border-color: var(--accent-normal-aka-border) !important;
}

/* Formatting: Einzelnes Dropdown-Panel Body */
.allButFooter #accordion .panel-primary > .panel-body {
    background-color: var(--secondary-background) !important;
}

/* Elevation, Farbe: Menü-Items im Dropdown-Panel (mein Unterricht, etc.) */
.allButFooter #accordion .box {
    background-color: var(--secondary-background) !important;
    box-shadow: var(--no-elevation) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    border-radius: 3px !important;
    border-collapse: separate !important;
}

/* Farbe: Hover über Menü-Items im Dropdown-Panel */
.allButFooter #accordion .box:hover {
    background-color: var(--accent-lowkey-aka-hover) !important;
}

/* Entfernen: Tooltip bei Hover über Menü-Items im Dropdown-Panel */
.allButFooter ~ .tooltip.fade.bottom.in {
    display: none !important;
}

/* Formatting: Form der Menü-Items im Dropdown-Panel */
.allButFooter #accordion .box .logobox .logoview {
    height: 103px !important;
}

/* Farbe: Alle Bilder im Akkordion */
.allButFooter #accordion i::before,
.allButFooter #accordion span::before {
    color: var(--accent-high-aka-text) !important;
}

/* Formatting: Feld für Schrift der Menü-Items im Dropdown-Panel */
.allButFooter #accordion .box .textheight {
    height: 33px !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-collapse: separate !important;
    background-color: transparent !important;
    border-bottom: 1px solid var(--accent-normal-aka-border) !important;
    border-top: 1px solid var(--accent-normal-aka-border) !important;
    padding: 6px !important;
}

/* Formatting: Schrift der Menü-Items im Dropdown-Panel */
.allButFooter #accordion .box .textheight h3 {
    border: none !important;
    margin: 0 !important;

    /* Verschieben von Elementen */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* Farbe: Zahl neben Schrift der Menü-Items im Dropdown-Panel */
.allButFooter #accordion .box .textheight .badge {
    margin-left: 5px !important;
}

/* Entfernt: "n Hausaufgaben unerledigt"-etc-Banner vom Menü-Items im Dropdown-Panel */
.allButFooter #accordion .box .logobox .logoview .preshow {
    display: none !important;
}

/* Entfernt: Tools-Dropdown-Panel */
.allButFooter [data-id="Tools"] {
    display: none !important;
}
