/* Farbe: Buttons oben links (Pfeiltasten) */
/* TODO: FILE NOCH KAPUTT (GEHT EINFACH NICHT...) */
.allButFooter #calender button.fc-prev-button.fc-button.fc-state-default.fc-corner-left,
.allButFooter #calender button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
    border: 1px solid var(--accent-normal-aka-border) !important;
    border-radius: 3px !important;
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
}

.allButFooter #calender > div.fc-view-container > .fc-view.fc-month-view.fc-basic-view {
    border-radius: 3px !important;
    box-shadow: var(--default-elevation);
    background-color: var(--secondary-background) !important;
    color: var(--accent-lowkey-aka-hover) !important;
}

