/* Elevation: Tabelle */
.allButFooter #msgTableArea .fixed-table-container {
    box-shadow: var(--default-elevation) !important;
}

/* Farbe: Tabellenkopf */
.allButFooter .th-inner.sortable.both, .allButFooter #msgTable > thead, .allButFooter #msgTable > thead input {
    background-color: var(--light-gray) !important;
}

/* Entfernen: Striche zwischen den Nachrichten */
.allButFooter #msgTableBody > tr > td, .allButFooter #msgTable > thead > tr > th {
    border-left: none !important;
    border-right: none !important;
}

/* Farbe: Ungelesene Nachrichten */
.allButFooter .fixed-table-body .newMsgStatus.fa.fa-envelope-open-o {
    background-color: var(--homework-undone-color) !important;
    color: var(--font-color) !important;
}

/* Farbe: Checkbox-Kreis neben Nachrichten */
.allButFooter #msgTableBody > tr > td.markTop > i, .allButFooter #MarkBtn {
    color: var(--font-color) !important;
}

/* Farbe: Seitenauswahl unter Tabelle */
.allButFooter #msgTableArea .fixed-table-container > .fixed-table-pagination > .pull-right.pagination > ul > li:not(.active) > a {
    background-color: var(--light-gray) !important;
    color: var(--font-color) !important;
}

/* Farbe: Ausgewählte Seite in Seitenauswahl unter Tabelle */
.allButFooter #msgTableArea .fixed-table-container > .fixed-table-pagination > .pull-right.pagination > ul > li.active > a {
    background-color: var(--dark-gray) !important;
    border: 1px solid var(--border-color) !important;
    color: var(--font-color) !important;
}

/* Farbe: einzelne Nachrichten Hintergrund */
.allButFooter .chat .chat-history .message.me-message,
.allButFooter .chat .chat-history .message.you-message {
    background-color: var(--light-gray) !important;
    color: var(--font-color) !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: var(--default-elevation) !important;
}

/* Entfernen: Pfeil auf Nachrichtenabsender */
.allButFooter .chat .message::after {
    display: none !important;
}

/* Formatting: Abstand zwischen Name und Nachricht von 15 px verkleinern */
.allButFooter #content > div.chat > div.chat-history .message-data {
    margin-bottom: 1px !important;
}

/* Farbe: Namenslabel in Nachricht (Privatnachricht) */
.allButFooter #content > h1 > small .label.label-default {
    background-color: transparent !important;
    border: 1px solid var(--font-color) !important;
    color: var(--font-color) !important;
    font-weight: normal !important;
}

/* Entfernen: Kreis neben gesendeter Nachricht */
/* Entfernen: 3 Punkte Menü (wegen weirder position) */
.allButFooter #content > div.chat > div.chat-history .message-data.align-right > .fa.fa-circle.me,
.allButFooter #dropdownBtn > .fas.fa-ellipsis-v{
    display: none !important;
    visibility: hidden !important;
}
