/* Elevation: Tabelle */
.allButFooter #msgTableArea .fixed-table-container {
    box-shadow: var(--default-elevation) !important;
}

/* Farbe: Tabellenkopf */
.allButFooter .th-inner.sortable.both, .allButFooter #msgTable > thead, .allButFooter #msgTable > thead input {
    background-color: var(--secondary-background) !important;
}

/* Entfernen: Striche zwischen den Nachrichten */
.allButFooter #msgTableBody > tr > td, .allButFooter #msgTable > thead > tr > th {
    border-left: none !important;
    border-right: none !important;
}

/* Farbe: Ausgewählte Nachrichten in Nachrichten-Übersicht */
.allButFooter #msgTableBody > tr.selected > td {
    background-color: var(--accent-lowkey-aka-hover) !important;
}

/* Farbe: Ungelesene Nachrichten */
.allButFooter .fixed-table-body .newMsgStatus.fa.fa-envelope-open-o {
    background-color: var(--usage-remove) !important;
    color: var(--accent-high-aka-text) !important;
}

/* Farbe: Checkbox-Kreis neben Nachrichtenübersicht */
.allButFooter #msgTable #MarkBtn,
.allButFooter #msgTableBody > tr > td.markTop > i.select {
    color: var(--accent-high-aka-text) !important;
}

/* Farbe, Formatting: Absendername in Nachrichtenübersicht */
#msgTableBody > tr > td > span.label {
    background-color: transparent !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    color: var(--accent-high-aka-text) !important;
    font-weight: normal !important;
}

/* Farbe: Seitenauswahl unter Tabelle */
.allButFooter #msgTableArea .fixed-table-container > .fixed-table-pagination > .pull-right.pagination > ul > li:not(.active) > a {
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
}

/* Farbe: Ausgewählte Seite in Seitenauswahl unter Tabelle */
.allButFooter #msgTableArea .fixed-table-container > .fixed-table-pagination > .pull-right.pagination > ul > li.active > a {
    background-color: var(--secondary-background) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    color: var(--accent-high-aka-text) !important;
}

/* Farbe: einzelne Nachrichten Hintergrund */
.allButFooter .chat .chat-history .message.me-message,
.allButFooter .chat .chat-history .message.you-message {
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    box-shadow: var(--default-elevation) !important;
}

/* Entfernen: Pfeil auf Nachrichtenabsender */
.allButFooter .chat .message::after {
    display: none !important;
}

/* Formatting: Abstand zwischen Name und Nachricht von 15 px verkleinern */
.allButFooter #content > div.chat > div.chat-history .message-data {
    margin-bottom: 1px !important;
}

/* Farbe: Namenslabel in Nachricht (Privatnachricht) */
.allButFooter #content > h1 > small .label.label-default {
    background-color: transparent !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    color: var(--accent-high-aka-text) !important;
    font-weight: normal !important;
}

/* Entfernen: Kreis neben gesendeter Nachricht */
/* Entfernen: 3 Punkte Menü (wegen weirder position) */
.allButFooter #content > div.chat > div.chat-history .message-data.align-right > .fa.fa-circle.me,
.allButFooter #dropdownBtn > .fas.fa-ellipsis-v {
    display: none !important;
    visibility: hidden !important;
}

/* Formatiere: Border von Neue Unterhaltung Knopf */
.allButFooter #new {
    border-radius: 3px !important;
}

/* Messages (nicht Tabelle): Färbe einzelene Elemente */
.allButFooter #msgs > div > div {
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
}

/* Entfernen: Farbige Kreise hinter Kürzel */
.allButFooter #msgs > div > div > h3 > span.fa-stack.fa-lg > i.fa.fa-circle.fa-stack-2x::before {
    content: "" !important;
}

/* Hinzufügen: Kreis um Lehrer Namen/Kürzel */
.allButFooter #msgs > div > div > h3 > span.fa-stack.fa-lg > i.fa.fa-circle.fa-stack-2x {
    height: 63px !important;
    width: 63px !important;
    background-color: var(--secondary-background) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    border-radius: 50% !important;
    margin-left: 7px !important;
}

/* Farbe: Kürzel */
.allButFooter #msgs > div > div > h3 > span.fa-stack.fa-lg > i.fa.fa-stack-1x.fa-inverse.kuerzel {
    background-color: transparent !important;
    color: var(--accent-high-aka-text) !important;
}

/* Formatieren: Schülernamen */
.allButFooter #msgs > div > div > p > span,
.allButFooter #msgs > div > div > p{
    color: var(--accent-high-aka-text) !important;
    background-color: transparent !important;
    border-radius: 3px !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    padding-bottom: 2.1px !important;
    z-index: 10 !important;
}

/* Entfernen: Border um gesamten Komplex */
.allButFooter #msgs > div > div > p {
    border: none !important;
}

/* Farbe: Augen Icon */
.allButFooter #msgs #deleteIcon {
    color: var(--usage-remove) !important;
}
