/* Entfernen: Hover über dem halben Plan */
.allButFooter #content .plan .hover-warning,
.allButFooter #content .plan .warning {
    background-color: transparent !important;
}

/* Farbe, Formatting: Hover einzelnen Stunden */
.allButFooter #content .plan .stunde.active {
    background-color: var(--dark-gray) !important;
    border: 1px solid var(--border-color) !important;
    margin: 1px !important;
    border-radius: 3px !important;
}

/* Entfernen: Footer */
.allButFooter > .hidden-print.footer {
    background-color: var(--light-gray) !important;
    font-size: 0 !important;
    color: var(--light-gray) !important;
    border-top: 5px solid var(--light-gray) !important;
}

/* Entfernen: Schulportal-Logo (Footer) */
.allButFooter > .hidden-print.footer img {
    object-position: -999999px 999999px !important;
}
