:root {
    --light-gray: #3C3F41;
    --dark-gray: #2B2B2B;
    --font-color: #cad5dd;
    --border-color: var(--font-color);
    --font-link-color: #6fa7ee;
    --homework-undone-color: #CC4747;
    --homework-done-color: #05B016;
    --default-elevation: rgba(0, 0, 0, 0.5) 3px 5px 2px;
    --no-elevation: rgba(0, 0, 0, 0) 0px 0px 0px;
    --orange-color: #eb9b1c;
}
