/* Elevation: Tabelle */
.allButFooter .tab-content #aktuell table {
    box-shadow: var(--default-elevation) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 3px !important;
    border-collapse: separate !important;
}

/* Farbe: "x offene Abgaben"-Knopf über der Tabelle */
.allButFooter .tab-content #aktuell > #homeworkUndoneBtn ~ a,
.allButFooter .tab-content #aktuell > #homeworkUndoneBtn ~ a .badge {
    border-color: var(--orange-color) !important;
    color: var(--orange-color) !important;
}

/* Entfernen: Tabellenkopf */
.allButFooter .tab-content #aktuell thead {
    display: none !important;
}

/* Formatting: Abstand zwischen Knöpfen und Tabellen */
.allButFooter .tab-content #aktuell #homeworkUndoneBtn,
.allButFooter .tab-content #aktuell #homeworkUndoneBtn ~ .btn.btn-warning {
    margin-bottom: 5px !important;
}

/* Formatting Abstand zwischen Knöpfen */
.allButFooter .tab-content #aktuell #homeworkUndoneBtn {
    margin-right: 2px !important;
}

/* Farbe: Hintergrund der Tabelle */
.allButFooter .tab-content #aktuell tbody > tr {
    background-color: transparent !important;
}

/* Entfernen: Obere Border des ersten Tabellenelements */
.allButFooter .tab-content #aktuell tbody > tr:first-child > td {
    border-top: none !important;
}

/* Entfernen: Drucken-Knopf in Tabellenelement */
.allButFooter .btn.btn-default.btn-xs.printable {
    display: none !important;
    visibility: hidden !important;
}

/* Farbe: Border um die Hausaufgaben-Beschreibung im Tabellenelement */
.allButFooter .markup.text.realHomework {
    border: 1px solid var(--homework-undone-color) !important;
}

/* Farbe: "zukünftige Einträge" -> Orange */
.allButFooter #aktuell > table > tbody div > a.btn.btn-warning.btn-xs {
    background-color: var(--light-gray) !important;
    border: 1px solid var(--orange-color) !important;
    color: var(--orange-color) !important;
}

