/* Farbe: "x offene Abgaben"-Knopf über der Tabelle */
.allButFooter .tab-content #aktuell > #homeworkUndoneBtn ~ a,
.allButFooter .tab-content #aktuell > #homeworkUndoneBtn ~ a .badge {
    border-color: var(--usage-warning) !important;
    color: var(--usage-warning) !important;
}

/* Entfernen: Tabellenkopf */
.allButFooter .tab-content #aktuell thead {
    display: none !important;
}

/* Formatting: Abstand zwischen Knöpfen und Tabellen */
.allButFooter .tab-content #aktuell #homeworkUndoneBtn,
.allButFooter .tab-content #aktuell #homeworkUndoneBtn ~ .btn.btn-warning {
    margin-bottom: 5px !important;
}

/* Formatting: Abstand zwischen Knöpfen */
.allButFooter .tab-content #aktuell #homeworkUndoneBtn {
    margin-right: 2px !important;
}

/* Entfernen: Drucken-Knopf in Tabellenelement */
.allButFooter .btn.btn-default.btn-xs.printable {
    display: none !important;
    visibility: hidden !important;
}

/* Farbe: Border um die Hausaufgaben-Beschreibung im Tabellenelement */
.allButFooter .markup.text.realHomework {
    border: 1px solid var(--usage-remove) !important;
}

/* Farbe: "zukünftige Einträge" -> Orange */
.allButFooter #aktuell > table > tbody div > a.btn.btn-warning.btn-xs {
    background-color: var(--secondary-background) !important;
    border: 1px solid var(--usage-warning) !important;
    color: var(--usage-warning) !important;
}

/* Position: Alle Dropdown Menüs von "Aktuelle Einträge" rechtsbündig darstellen */
.allButFooter #aktuellTable ul.dropdown-menu {
    left: auto !important;
    right: 0 !important;
}
