/* Elevation: Tabelle */
.allButFooter .tab-content #aktuell table {
    box-shadow: var(--default-elevation) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 3px !important;
    border-collapse: separate !important;
}

/* Entfernen: Tabellenkopf */
.allButFooter .tab-content #aktuell thead {
    display: none !important;
}

/* Entfernen: Obere Border des ersten Tabellenelements */
.allButFooter .tab-content #aktuell tbody > tr:first-child > td {
    border-top: none !important;
}

/* Entfernen: Drucken-Knopf in Tabellenelement */
.allButFooter .btn.btn-default.btn-xs.printable {
    display: none;
    visibility: hidden;
}

/* Farbe: Border um die Hausaufgaben-Beschreibung im Tabellenelement */
.allButFooter .markup.text.realHomework {
    border: 1px solid var(--homework-undone-color) !important;
}

/* Farbe: "Hausaufgabe"-Label über Hausaufgaben-Beschreibung im Tabellenelement */
.allButFooter .label.label-success.title {
    background-color: var(--homework-undone-color) !important;
}

/* Farbe: Hausaufgabe "erledigt"-Label über Hausaufgaben-Beschreibung im Tabellenelement */
.allButFooter .done.label.label-default {
    background-color: var(--homework-done-color) !important;
}

/* Farbe, Formatting: Zahl-Badge neben "Abgabe"-Text in Abgabe-Dropdown-Menü im Tabellenelement */
.allButFooter .tab-content #aktuell tbody > tr > td > div > div > button > span.badge {
    color: var(--font-color) !important;
    border: 1px solid var(--border-color) !important;
    background-color: var(--light-gray) !important;
}
