/* Sorgt für Abstand zwischen dem Auswahl-Menü und dem Inhalt */
.allButFooter #content .col-md-12 {
    margin-bottom: 10px !important;
}

.allButFooter .btn-group .btn.btn-warning.btn-sm.dropdown-toggle {
    color: var(--orange-color) !important;
    border-color: var(--orange-color) !important;
    z-index: 10 !important;
}
.allButFooter .btn-group .btn.btn-warning.btn-sm.dropdown-toggle small {
    color: var(--orange-color) !important;
}
