/* Formatting: Abstand zwischen Auswahlleiste und Inhalt der Seite */
.allButFooter #content .col-md-12 {
    margin-bottom: 10px !important;
}

/* Farbe: Border von Dateiabgabe-Menü in Tabellenelement in "Aktuelle Einträge" und Border von Dateiabgabe-Dropdown-Menü in Tabellenelement in Kursmappen-Details */
.allButFooter .btn-group .btn.btn-warning.btn-sm.dropdown-toggle {
    color: var(--usage-warning) !important;
    border-color: var(--usage-warning) !important;
    z-index: 10 !important;
}

/* Farbe: Badges in Dateiabgabe-Menü in Tabellenelement in "Aktuelle Einträge" und Badges in Dateiabgabe-Dropdown-Menü in Tabellenelement in Kursmappen-Details */
.allButFooter .btn-group .btn.btn-warning.btn-sm.dropdown-toggle .badge {
    color: var(--usage-warning) !important;
    border-color: var(--usage-warning) !important;
}

/* Entfernt: "Kurzanleitungen"-Knopf */
.allButFooter #content .row a[href="meinunterricht.php?a=usesheets"] {
    display: none !important;
}

/* Farbe: Success label -> homework-done-color*/
/* 1: Farbe:  "Abgabe" -> färbe grün */
/* 2: Farbe: "Haken"-Knopf in Tabellenelement in "Historie" (Kursübersicht) */
/* 3: Farbe: "Hausaufgabe erledigt"-Label in Tabellenelement in "Historie" (Kursübersicht)*/
/* 4: Farbe: Hausaufgabe "erledigt"-Label über Hausaufgaben-Beschreibung im Tabellenelement (Aktuelle Einträge) */
.allButFooter #content .row .label.label-success,
.allButFooter .btn.btn-success.btn-xs,
.allButFooter .hidden-print.label.label-success,
.allButFooter .done.label.label-default {
    background-color: var(--secondary-background) !important;
    border: 1px solid var(--usage-confirm) !important;
    border-radius: 3px !important;
    color: var(--usage-confirm) !important;
}

/* Farbe: Info label -> border und schrift */
.allButFooter #content .row .label.label-info {
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
    border: 1px solid var(--accent-normal-aka-border) !important;
    border-radius: 3px !important;
}

/* Farbe: Warning label -> homework-undone-color */
/* 1: Farbe: "Rückgängig-Pfeil"-Knopf in Tabellenelement in "Historie" (Kursübersicht)*/
/* 2: Farbe: "Hausaufgabe unerledigt"-Label in Tabellenelement in "Historie" (Kursübersicht) */
/* 3: Farbe: "Hausaufgabe"-Label über Hausaufgaben-Beschreibung im Tabellenelement (Aktuelle Einträge) */
.allButFooter .btn.btn-default.btn-xs,
.allButFooter .label.label-danger,
.allButFooter .label.label-success.title {
    background-color: var(--secondary-background) !important;
    border: 1px solid var(--usage-remove) !important;
    border-radius: 3px !important;
    color: var(--usage-remove) !important;
}

/* Farbe: Label -> orange color */
/* 1: Farbe: "Abgabe" */
/* 2: Farbe: "Aktuelle Einträge" -> "als Erledigt markieren" */
.allButFooter #content .row .label.label-warning,
.allButFooter #aktuell > table > tbody div > span.undone > span {
    background-color: var(--secondary-background) !important;
    border: 1px solid var(--usage-warning) !important;
    border-radius: 3px !important;
    color: var(--usage-warning) !important;
}
