/* Farbe, Formatting: Halbjahres-Label neben Kursmappen-Name */
.allButFooter #content > h1 > small > span.label.label-info {
    border: 1px solid var(--accent-normal-aka-border) !important;
    background-color: var(--secondary-background) !important;
    color: var(--accent-high-aka-text) !important;
    top: -7px !important;
    position: relative !important;
}

/* Elevation, Formatting: Notenübersicht */
.allButFooter #content .col-md-6.col-sm-12.hidden-print .table.table-condensed.table-hover.table-striped {
    border: 1px solid var(--accent-normal-aka-border) !important;
    border-radius: 3px !important;
    border-collapse: separate !important;
    box-shadow: var(--default-elevation) !important;
}

/* Farbe: End- und Zwischennoten in Notenübersicht */
.allButFooter #content .col-md-6.col-sm-12.hidden-print .table.table-condensed.table-hover.table-striped > tbody > tr.success > td,
.allButFooter #content .col-md-6.col-sm-12.hidden-print .table.table-condensed.table-hover.table-striped > tbody > tr.warning > td {
    background-color: var(--secondary-background) !important;
}

/* Farbe: Hintergrund von Liste in "History" (Mobile) */
.allButFooter #old ul > li {
    background-color: var(--secondary-background) !important;
}

/* Abstand um die Tabelle herum in "History" (Mobile) */
.allButFooter #old > ul {
    margin: 3px !important;
    margin-top: 0 !important;
}

/* Farbe, Formatting: Anhänge in Tabellenelement in "Historie" (Desktop & Mobile) */
.allButFooter #old div.alert.alert-info {
    background-color: var(--secondary-background) !important;
    border: none !important;
    box-shadow: var(--no-elevation) !important;
    padding: 0 !important;
}

/* Farbe: Text in Dateiabgabe-Dropdown-Menü in Tabellenelement */
.allButFooter .btn-group .btn.btn-warning.btn-sm.dropdown-toggle small {
    color: var(--usage-warning) !important;
}

/* Entfernen: Tabellenkopf */
.allButFooter #old > div > table > thead {
    display: none !important;
}
